# Python __pycache__ and compiled files
**/__pycache__
*.py[cod]
*$py.class

# Virtual environments
venv*/     
ml-services/venv_py39
ml-services/.python-version      
ml-services/app/__pycache__/
# Flask instance folder (if used)
instance/



ml-services/app/__pycache__/__init__.cpython-313.pyc
ml-services/app/__pycache__/routes.cpython-313.pyc

node_modules/

.env
.env.*.local


*.log

.DS_Store
Thumbs.db

/frontend/node_modules/
/frontend/build/
/frontend/dist/


/backend/node_modules/
/backend/dist/
/backend/*.log


.vscode/
service-account.json